.future-plans
	margin-bottom 72px
	padding-left 2px

.future-plans__title
	h2-title()

.future-plans__description
	margin-bottom 15px
	text()
	line-height 22px

.future-plans__container
	display flex
	flex-direction column

@media (min-width: 768px)
	.future-plans__container
		flex-direction row
