.form-textarea
	width 100%
	min-height 166px
	padding-x(4px)
	font-family courier-new
	font-size 18px
	line-height 30px
	border-color font-brown
	resize vertical
	background-color transparent

@media (min-width: 768px)
	.form-textarea
		font-size 30px
		line-height 56px
		border none
		background-image url(../images/textarea-line.png)
		background-position -4px 15px
