@font-face
	font-family 'PT Sans'
	src url('../fonts/PTSans/pt_sans-web-regular.eot')
	src url('../fonts/PTSans/pt_sans-web-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PTSans/pt_sans-web-regular.woff2') format('woff2'),
	url('../fonts/PTSans/pt_sans-web-regular.woff') format('woff'),
	url('../fonts/PTSans/pt_sans-web-regular.ttf') format('truetype'),
	url('../fonts/PTSans/pt_sans-web-regular.svg#pt_sansregular') format('svg')
	font-weight 400
	font-style normal

@font-face
	font-family 'PT Sans'
	src url('../fonts/PTSans/pt_sans-web-bold.eot')
	src url('../fonts/PTSans/pt_sans-web-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PTSans/pt_sans-web-bold.woff2') format('woff2'),
	url('../fonts/PTSans/pt_sans-web-bold.woff') format('woff'),
	url('../fonts/PTSans/pt_sans-web-bold.ttf') format('truetype'),
	url('../fonts/PTSans/pt_sans-web-bold.svg#pt_sansbold') format('svg')
	font-weight 700
	font-style normal

@font-face
	font-family 'Courier New'
	url('../fonts/courier_new-regular.ttf') format('truetype')
	font-weight 400
	font-style normal

@font-face
	font-family 'Podkova'
	url('../fonts/Podkova/Podkova-Regular.ttf') format('truetype')
	font-weight 400
	font-style normal

@font-face
	font-family 'Roboto Slab'
	url('../fonts/Roboto_Slab/RobotoSlab-Regular.ttf') format('truetype')
	font-weight 400
	font-style normal
