// Typography
courier-new = Courier New, sans-serif
//pt-sans-regular = PT Sans Regular, sans-serif
//pt-sans-bold = PT Sans Bold, sans-serif
pt-sans = PT Sans, sans-serif
font-brown = #2f1b15
font-brown-light = #3d3d3d
font-brown-dark = #231f20

