.form-checkbox
	position relative
	display flex
	align-items center
	margin-bottom 10px

.form-checkbox__input
	position absolute
	left 0
	top 0
	opacity 0
	&:checked + .form-checkbox__indicator
		&::after
			opacity 1

.form-checkbox__indicator
	position relative
	flex-shrink 0
	sprite($checkbox)
	margin-right 9px
	margin-top 4px
	&::after
		pseudoelement()
		bottom 3px
		left 5px
		sprite($check_mark)
		opacity 0
		transition opacity 0.2s ease

.form-checkbox__title
	font-family pt-sans
	font-size 16px
	line-height 20px
	font-weight 700
	color black

.form-checkbox__link
	position relative
	text-decoration none
	color font-blue
	&:focus
		outline 1px dashed font-blue
	&::after
		pseudoelement()
		bottom 1px
		left 0
		right 0
		height 1px
		background-color font-blue

@media (min-width: 768px)
	.form-checkbox
		align-items flex-start
		width 33%
		height 32px
		margin-bottom 3px
		padding-left 2px

	.form-checkbox__title
		font-size 21px
		line-height 25px
