mixin logo()
	+b.A.logo(href='https://csssr.ru/', target='_blank')
		picture
			source(media='(min-width: 768px)', srcset='assets/images/logotype.png')
			+e.IMG.img(src='assets/images/logotype-mobile.png', alt='Логотип CSSSR')
