include ../container/container
include ../header/header
include ../title/title
include ../main-info/main-info
include ../skills/skills
include ../js-skills/js-skills
include ../about/about
include ../future-plans/future-plans
include ../filling-date/filling-date

mixin card()
	- var userData = getData('userData')

	+b.card
		+container
			+header()(isSecret=true)
			+title
			+main-info(userData)
			+skills(getData('skills'), userData.skills)
			+js-skills()
			+about()
			+future-plans(getData('futurePlans'), userData.futurePlans)
			+filling-date(userData)
