.skills
	margin-bottom 35px

.skills__title
	h2-title()

.skills__description
	margin-bottom 27px
	text()

.skills__container
	display flex
	flex-direction column

@media (min-width: 768px)
	.skills__container
		flex-wrap wrap
		align-content space-between
		height 250px
