include ../form-field/form-field

mixin main-info(userData)
	+b.main-info&attributes(attributes)
		+form-field('Полное ФИО', userData.name)
		+form-field('Год рождения', userData.yob)
		+form-field('Место жительства', userData.habitation)
		+form-field('Скайп', userData.skype)
		+form-field('Почта', userData.email)
